/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.top-img {
  background-position: cover;
}

.service__wrap {
  width: 960px; 
  max-width: 1280px;
}

.service__list-item {
  width: 250px;
}

.comments__right img {
  width: 100%;
}

.results__bgcolor {
  margin-left: 0px; 
}

.price__table {
  width: 960px;
  max-width: 1280px;

  & table {
    width: 960px;
    max-width: 1280px;
  }
}

.contact__wrap {
  width: 960px;
  max-width: 1280px;
}

.footer__inner {
  width: 960px;
  max-width: 1280px;
}